body{
	background-color: #d3ffb3;
	text-align: center;
}

h1,h2{
	font-family:sans-serif;
	color:  blue;
	text-align: center;
	
}


h3{
	color : red;
}
button {
    background-color: #007bff;
    font-size: 20px;
    color: white;
    padding : 6px;
    margin :10px;
    width: 150px
}
button:hover{
    background-color: black;
    color: white;
   
}
.heading{
	font-size: 30px;
	
}


#result{
	color:navy;
	font-size: 30px;
}



