

.navbar.navbar-expand-lg.navbar-light {
    background-color: rgb(211, 207, 207); 
}
.navbar-nav .nav-link {
    color: #fff;
    margin-right: 15px; 
}
.navbar-nav .nav-link:hover {
    color: #122b46;
}
.navbar-nav .nav-item.active .nav-link {
    background-color: #11549c;
    color: #fff;
    border-radius: 9px; 
    padding: 8px 15px;
}
.jumbotron {
    background-color: #04468c;
    color: #fff;

}
.jumbotron:hover{
    background-color: #007bff;
   
}
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(49, 46, 46);
}

.card:hover ,#Register:hover,#Login:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 25px;
}
#result{
	margin-left: 20px;
}

